.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 0;

  width: 8rem; 
  padding-left: 1.5rem;
  padding-block: 2rem; 
  gap: 1.5rem; 

  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background: linear-gradient(180deg, #54d3c2 0%, #30898a 100%);
  color: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.logo {
  margin-bottom: 1.5rem; 
  user-select: none;
  font-weight: 800;
  font-size: 2.25rem; 
  line-height: 1;
}

.nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; 
}
