.container {
  display: flex;
  position: relative;
  height: 100vh;
}

.main {
  position: relative;
  z-index: 1;
  flex: 1;
  margin-left: -40px;
  padding: 1rem 1rem 3.5rem 3rem;
  /* padding-left: calc(2rem + 40px); */
  background-color: #f9fafb;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
