.header {
  display: flex;
  align-items: center;
  height: 64px;
  background-color: white;
}

.navButtons {
  display: flex;
  gap: 12px;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-left: 2rem;
  border-bottom: 1px solid #D2D1D1;
}

.tab {
  all: unset;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 0;
  position: relative;
  color: #D2D1D1;
}

.active {
  color: #323F47; 
}

.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 30px;
  background: #14B8A6;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 20rem;
}
