.header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  background-color: var(--background);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navButtons {
  display: flex;
  gap: 12px;
}

.tabs {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

.tab {
  all: unset;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 0;
  position: relative;
  color: #6B7280; /* серый для неактивных */
}

.active {
  color: #000;  /* чёрный для активного */
}

.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #14B8A6; /* бирюзовая линия */
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}
