.container {
  background-color: #ffffff;
  border-radius: 32px;
  margin-top: .8rem;
  padding: 24px;
  width: 100%;
  height: 104%;
}

.header {
  margin: 0 0 16px;
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 34rem;     
  overflow-y: auto;
  scrollbar-width: none; 
}
.list::-webkit-scrollbar {
  display: none;         
}

.item {
  display: flex;
  align-items: center; 
  margin-bottom: 12px;
}

.item:last-child {
  margin-bottom: 0;
}

.iconWrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.icon {
  color: #ffffff;
}

.medium {
  background-color: #f59e0b;
}

.high {
  background-color: #ef4444;
}

.text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  margin-left: 1rem;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: #6D7986;
}

.amount {
  font-size: 18px;
  font-weight: 700;
  color: #323F47;
}

.status {
  font-size: 14px;
  color: #6b7280;
}
