/* src/app/dashboard/layout.module.css */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: .2rem;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  position: relative;
  z-index: 1;
  flex: 1;
  /* background-color: #f9fafb; */
  background-color: aquamarine;
}
