.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: .2rem;
}

.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  position: relative;
  z-index: 1;
  flex: 1;
  overflow-y: auto;
  background-color: #f9fafb;
}
